/* main */
.main-container{
    background-color: var(--primary);
    margin-top: 44px;
    margin-bottom: 44px;
    display: flex;
}
.content-container{
    width: 100%;
    max-width: 935px;
    padding: 0 0 8px;
    margin: 0 auto;
    display: flex;
}
.content{
    width: 100%;
    max-width: 614px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.stories{
    width: 100%;
    background-color: var(--primary);
    padding:16px 0;
    position: relative;
    overflow: hidden;
}
.stories::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--border);
}
.posts{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* Story */
.story{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}
.story_avatar{
    position: relative;
}
.story_border{
    width: 64px;
    height: 64px;
    fill: none; /* 검은색으로 채워진 것을 없앰 */
    stroke: var(--story-border); /* 원의 테두리 설정 */
    stroke-width: 1.5;
}
.story_picture{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 위치 이동 */
    width:56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}
.story_user{
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light);
    text-transform: lowercase;
    max-width: 72px;
    text-overflow: ellipsis; /* ellipsis: 글자수 가 넘으면 ... 으로 표시해줌 기본은 clip */
    overflow: hidden;
    white-space: nowrap; /* white-space: 요소가 공백 문자를 처리하는 법을 정의 */
}
.stories_content{ 
    display: flex;
    overflow-x: auto;
    /* 스토리가 많아져서 여러개가 되어서 옆으로 넘어가게 되면 자동으로 스크롤을 생성해줌*/
    overflow-y: hidden;
    gap: 16px;
    padding: 0 16px;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width:none;
}
.stories_content::-webkit-scrollbar{ /* 스크롤 바를 안보이게 해주는 것 */
    display: none;  
}

/* Post */
    /* Post/header */
.post{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.post_header{
    background-color: var(--primary);
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
.post_profile{
    display: flex;
    align-items: center;
    gap: 12px;
}
.post_avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.post_user{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;
    text-transform: lowercase;
}
.post_user:hover{
    text-decoration: underline;
}
.post_more-options{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
    /* Post/content */
.post_content{
    display: flex;
    position: relative;
}
.post_medias{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;

    width: 100%;
    scroll-snap-type: x mandatory; /*  */
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.post_medias::-webkit-scrollbar{
    display: none;
}
.post_media{
    width: 100%;
    flex: none;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
    /* Post/footer */
.post_footer{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 4px;
}
.post_buttons{
    display: flex;
    position: relative;
}
.post_button{
    background-color: transparent;
    border: none;
    cursor: pointer;

    padding: 8px;
}
.post_button--align-right{    
    margin-left: auto; /* 이렇게 하면 오른쪽 끝으로 붙여준다. 반대로 margin-right하면 왼쪽 끝으로 붙임 */
}

.post_infos{
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 10px;
}
.post_likes,
.post_description{
    display: flex;
}

.post_likes{
    align-items: center;
    gap: 6px;
}
.post_likes-avatar{
    width:20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.post_likes span,
.post_description span{
    font-size:14px;
    font-weight: 400;
    color: var(--text-dark);
}
.post_likes a,
.post_description a{
    font-size:14px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;
}

.post_name--underline:hover{
    text-decoration: underline;
}
.post_date-time{
    font-size:10px;
    font-weight: 400;
    color: var(--text-light);
    text-transform: uppercase;
}
/* 
미디어 쿼리는 중간에 써 놓으면 그 다음 나온 겹치는 css들에 의해 오버라이드 될 수 있어서
맨뒤에 작성하는 것이 좋다
 */
/* Media Queries */
/* 620px 보다 크면 */
@media (min-width: 620px) {
    .content-container{
        padding: 30px 0 24px;
    }
    .content{
        gap:24px;
    }
    .stories{
        border: 1px solid var(--border);
        border-radius: 4px;
    }
    .stories::after{
        content:none;
    }
    .posts{
        gap: 24px;
    }
    .post{
        border: 1px solid var(--border);
        border-radius: 4px;
    }
    .post_footer{
        padding: 4px 8px 12px;
    }
    .post_date-time{
        margin-top: 6px;
    }
}
@media (min-width: 1024px){
    .main-container{
        background-color: var(--secondary);
    }
    .content{
        margin: unset;
    }
}