/* Header */
.header{
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0)40%, rgba(0, 0, 0, 1)), 
    url("../assets/images/banner.jpg");
    background-position: center;
    background-size: cover;   
    margin-top: 0;
    position: relative;
}
/* nav */
.header_nav{
    padding: 20px 0px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.header_nav-logo{
    cursor: pointer;
}
.header_nav-profile{
    margin-right: 10px;
    cursor: pointer;
}
/* main */
.header_main{
    width: 400px;
    padding-left:10px;
    position: absolute;
    top: 25%;
}
.header_main-contents{
    display: flex;
    flex-direction: column;
}
.header_main-content-title{
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 700;
}
.header_main-content-buttons{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.header_main-content-button{
    background-color: RGB(128, 128, 128, 0.2);
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
}
.header_main-content-summary{
    font-weight: 500;
}